@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "inter", sans-serif;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-secondary-100;
}
::-webkit-scrollbar-thumb {
    @apply bg-primary-500;
}

#root {
    background-color: #e6edfb;
    padding: 12px;
    height: 100vh;
}
.dark #root {
    @apply bg-secondary-950;
    padding: 12px;
    height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


.autoplay-progress {
    z-index: 10;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
  
.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 2px;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}



@tailwind base;
@tailwind components;
@tailwind utilities;
